<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    {% if block('keywords') %}
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    {% endif %}
    {% if block('description') %}
        <meta name="description" content="{% block description %}{% endblock %}" />
    {% endif %}
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body id="{% block body_id %}{% endblock %}">
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/js/common.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
