{% extends '@NaviappsAdmin/layout.html.twig' %}

{% block title %}{{ 'title.products'|trans }} / {{ parent() }}{% endblock %}
{% block body_id 'naviapps_catalog_admin_product_index' %}

{% block body %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ 'title.products'|trans }}</h2>
            <ol class="breadcrumb">
                <li><a href="{{ path('naviapps_admin_index') }}">{{ 'title.home'|trans }}</a></li>
                <li class="active"><strong>{{ 'title.products'|trans }}</strong></li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ path('naviapps_catalog_admin_product_new') }}" class="btn btn-success">{{ 'action.add_product'|trans }}</a>

                <div class="ibox">
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'label.id'|trans }}</th>
                                <th>{{ 'label.name'|trans }}</th>
                                <th class="text-right">{{ 'label.action'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in pagination %}
                                <tr>
                                    <td>{{ product.id }}</td>
                                    <td>{{ product.name }}</td>
                                    <td class="text-right"><a href="{{ path('naviapps_catalog_admin_product_edit', { id: product.id }) }}" class="btn-white btn btn-xs">{{ 'action.edit'|trans({}, 'NaviappsAdminBundle') }}</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">{{ 'products.no_products_found'|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>{{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v3_pagination.html.twig') }}</tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
