{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'title.blocks'|trans }} / {{ parent() }}{% endblock %}
{% block body_id 'admin_cms_block_index' %}

{% block body %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ 'title.blocks'|trans }}</h2>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_index') }}">{{ 'title.home'|trans }}</a></li>
                <li class="active"><strong>{{ 'title.blocks'|trans }}</strong></li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ path('admin_cms_block_new') }}" class="btn btn-success">{{ 'action.add_new_block'|trans }}</a>

                <div class="ibox">
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'label.id'|trans }}</th>
                                <th>{{ 'label.title'|trans }}</th>
                                <th class="text-right">{{ 'label.action'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for block in pagination %}
                                <tr>
                                    <td>{{ block.id }}</td>
                                    <td>{{ block.title }}</td>
                                    <td class="text-right"><a href="{{ path('admin_cms_block_edit', { id: block.id }) }}" class="btn-white btn btn-xs">{{ 'action.edit'|trans }}</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">{{ 'block.no_blocks_found'|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>{{ knp_pagination_render(pagination) }}</tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
