{% extends '@NaviappsAdmin/layout.html.twig' %}

{% block title %}{{ 'title.pages'|trans }} / {{ parent() }}{% endblock %}
{% block body_id 'naviapps_cms_admin_page_index' %}

{% block body %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ 'title.pages'|trans }}</h2>
            <ol class="breadcrumb">
                <li><a href="{{ path('naviapps_admin_index') }}">{{ 'title.home'|trans }}</a></li>
                <li class="active"><strong>{{ 'title.pages'|trans }}</strong></li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ path('naviapps_cms_admin_page_new') }}" class="btn btn-success">{{ 'action.add_new_page'|trans }}</a>

                <div class="ibox">
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'label.id'|trans }}</th>
                                <th>{{ 'label.title'|trans }}</th>
                                <th class="text-right">{{ 'label.action'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for page in pagination %}
                                <tr>
                                    <td>{{ page.id }}</td>
                                    <td>{{ page.title }}</td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <a href="{{ app.request.baseUrl }}/{{ page.identifier }}" target="_blank" class="btn-white btn btn-xs">{{ 'action.show'|trans({}, 'NaviappsAdminBundle') }}</a>
                                            <a href="{{ path('naviapps_cms_admin_page_edit', { id: page.id }) }}" class="btn-white btn btn-xs">{{ 'action.edit'|trans({}, 'NaviappsAdminBundle') }}</a>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">{{ 'page.no_pages_found'|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>{{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v3_pagination.html.twig') }}</tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
