{% extends 'admin/base.html.twig' %}

{% form_theme form 'admin/form/layout.html.twig' %}

{% block body_id %}admin_user_new{% endblock %}

{% block body %}
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>新規ユーザー</h2>
      <ol class="breadcrumb">
        <li><a href="{{ path('admin_index') }}">ホーム</a></li>
        <li><a href="{{ path('admin_user_index') }}">ユーザー</a></li>
        <li class="active"><strong>新規ユーザー</strong></li>
      </ol>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        {{ form_start(form) }}
          <div class="tabs-container">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab-1" data-toggle="tab">ユーザー情報</a></li>
            </ul>
            <div class="tab-content">
              <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                  {{ form_row(form.email) }}
                  {{ form_row(form.plainPassword) }}
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">{{ 'action.create_admin_user'|trans }}</button>
          {{ form_widget(form.saveAndCreateNew, { label: 'label.save_and_create_new', attr: { class: 'btn btn-primary' } }) }}
          <a href="{{ path('admin_user_index') }}" class="btn btn-link">{{ 'action.back_to_list'|trans }}</a>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}
